	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>We are driven by our passion to see the children and young people who are caught in poverty given opportunities to fulfil their potential.</h3>
							<h3>Response care aims to use art and design as a vessel for transforming the lives of children and young people touched by extreme poverty in low-income countries.</h3>
							<h3>Our purpose is to release children and young people from poverty by contributing to educational material to enable them further their education and to support, encourage and facilitate their artistic expression to help them thrive despite challenging circumstances.</h3>
							<h3>Response Care is a collective of volunteer individuals from different walks of life coming together to contribute in different ways to making child poverty history.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>