	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>We are driven by our passion to see children and young people who are caught in extreme poverty being rescued and given an opportunity to fulfil their potential.</h3>
							<h3>Our purpose is to see children and young people released from poverty, through creating an environment that would propel them into a brighter and better future.</h3>
							<h3>Since then we have developed into a collective of passionate individuals from different walks of life driving forward Response Care’s vision of making child poverty history.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Our Vision</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Our vision is to rescue children and young people who are left vulnerable by poverty, especially children and young people in extreme poverty like those living in slums, in refugee resettlement camps or on the streets; those who are victims of forced work or of human trafficking.
								We want to see their lives transformed and taken out of poverty for good, by empowering and equipping them through the means of Art and Education.
							</h3>
							<h3>We are driven by a passion to see these children and young people integrate into society, one by one, equipped with the skills and talent to change their current circumstance, communities and break the cycle of poverty.</h3>
							<h3>Since then we have developed into a collective of passionate individuals from different walks of life driving forward Response Care’s vision of making child poverty history.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Our Mission</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Our mission is to create safe space for children and young people where they can freely express and develop their artistic skills, while creating opportunities for them to have full access to education.</h3>
							<h3>We want to facilitate trauma-recovery and self-confidence of these children through Art.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Join Us</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Response Care, we have, to our joy, attracted passionate volunteers who give their time, skills, talent, energy and network to help realise our mission goals. </h3>
							<h3>If you would like to be part of this exciting and most rewarding journey, and you have a passion to see child poverty eradicated, and/or have passion for Art/creativity, please do get in touch.</h3>
							<h3>We’d love to love to hear from you!</h3>
							<h3>If you would like to give your time, by fundraising or spreading the word about our work, please get in touch.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>