<section id="fh5co-contact" data-section="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Join us</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>At Response Care, we have, to our joy, attracted passionate volunteers who give their time,
							skills, talent, energy and network to help realise our mission goals. Have some time that
							you’d like to donate as a volunteer? If you would like to be part of this exciting and most
							rewarding journey, and you share our passion to see child poverty eradicated, please <a
								href="mailto:volunteer@responsecare.org">get in
								touch</a>. We have roles for both community fundraisers
							and researchers.
						</h3>
					</div>
				</div>
				<h2 class="to-animate">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						{{ partial "contact_mc.html" .}}
					</div>
				</div>
				<h2 class="to-animate">Supporting us financially</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Please <a href="mailto:fundraising@responsecare.org">reach out to us
								today</a>.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>