<section id="fh5co-mission" data-section="mission">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Our Mission</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Our mission is to create safe space for children and young people where they can freely
							express and develop their artistic skills, while creating opportunities for them to have
							full access to education.</h3>
						<h3>We want to facilitate trauma-recovery and self-confidence of these children through Art.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>