<section id="fh5co-projects-detail" data-section="projects-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Live project - The Rwamwanja Project</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>Response Care has partnered with the First Child Centre based in Rwamwanja Resettlement Refugee Camp in Southwest Uganda, about 300km from Kampala.</h3>
						<h3>The camp hosts over 100,000 refugees from neighbouring countries. There are many children in the camp, and due to the wars that displaced them from their homes, many of the children are effectively orphans and vulnerable.</h3>
						<h3>Community leaders within the camp formed the First Child Centre in early 2017 to safeguard the camp’s vulnerable children from starvation and exploitation.</h3>
						<h3>First Child Centre gathers children in the camp daily, providing basic education and a safe space for them to gather and play and develop artistic skills of some of the children in the camp. Response Care is currently evaluating how best to facilitate their education within the camp by providing teaching and artistic resources.</h3>
					</div>
				</div>
				<div class="row row-bottom-padded-sm">
					<div class="col-md-4 col-sm-6 col-xxs-12">
						<a href="images/rwamwanja_class_4.jpg" class="fh5co-project-item image-popup to-animate">
							<img src="images/rwamwanja_class_4.jpg" alt="rwamwanja_class_4" class="img-responsive">
							<div class="fh5co-text">
							</div>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xxs-12">
						<a href="images/rwamwanja_playground_1.jpg" class="fh5co-project-item image-popup to-animate">
							<img src="images/rwamwanja_playground_1.jpg" alt="rwamwanja_playground_1" class="img-responsive">
							<div class="fh5co-text">
							</div>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xxs-12">
						<a href="images/rwamwanja_weaving_2.jpg" class="fh5co-project-item image-popup to-animate">
							<img src="images/rwamwanja_weaving_2.jpg" alt="rwamwanja_weaving_2" class="img-responsive">
							<div class="fh5co-text">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>