	<section id="fh5co-vision" data-section="vision">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Our Vision</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Our vision is to rescue children and young people who are left vulnerable by poverty, especially children and young people in extreme poverty like those living in slums, in refugee resettlement camps or on the streets; those who are victims of forced work or of human trafficking.
								We want to see their lives transformed and taken out of poverty for good, by empowering and equipping them through the means of Art and Education.
							</h3>
							<h3>Our purpose is to see children and young people released from poverty, through creating an environment that would propel them into a brighter and better future.</h3>
							<h3>Since then we have developed into a collective of passionate individuals from different walks of life driving forward Response Care’s vision of making child poverty history.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>