<section id="fh5co-vision" data-section="vision" style="background-image: url(images/rwamwanja_artisans_1.jpg);"
	data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Our Vision</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext to-animate">
								<h3>Our vision is to equip communities of children and young people to flourish and see their lives transformed, released from poverty and integrated into society. With education and artistic skills, young people will be equipped to change their current circumstances, communities and break the cycle of poverty.</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slant"></div>
</section>